{
  "arrowParens": "always",
  "printWidth": 80,
  "singleQuote": true,
  "useTabs": false,
  "experimentalTernaries": true,
  "trailingComma": "all",
  "proseWrap": "never",
  "bracketSpacing": true
}
